:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(11, 10, 10, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  background-color: #FD8F24;
  color: rgb(24, 24, 24);
  border: none;
  width:99%;
  height: 10%;;
}


img{
  width: 50%;
  height: 100%;
}